.container {
    background-image: url("/imagens/menu.jpeg");
    background-size: cover;
    /* Cobrir todo o container */
    background-position: center;
    /* Centralizar a imagem */
    
    width: 200px;
    margin: 0 auto;
    border: #0056b3 1px solid;
    padding: 60px;
    box-shadow: 5px 5px 5px #000;
    border-radius: 10px;
    margin-top: 100px;
}

.container2 {
    background-image: url("/imagens/menu.jpeg");
    background-size: cover;
    /* Cobrir todo o container */
    background-position: center;
    /* Centralizar a imagem */
    width: 400px;
    margin: 0 auto;
    border: #0056b3 1px solid;
    padding: 20px;
    box-shadow: 5px 5px 5px #000;
    border-radius: 10px;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label {
    margin-top: 10px;
    color: white;
}

input {
    margin-top: 5px;
    padding: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
input[type="button"] {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #0056b3;}

h1 {
    text-align: center;
    color: rgb(235,234,240);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

h2{
    text-align: center;
    color: rgb(235,234,240);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    text-align: center;
    color: rgb(235,234,240);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #000;
    color: aqua;
}

.filme{
    background-color: #000;
    color: aqua;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

